@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');
$openSans: 'Open Sans', sans-serif;
$Anton: 'Anton', sans-serif;

.introBar{
    position: relative;
    top: 180px;
    z-index: 0;
    background-color: rgba(68, 146, 209, 0.7);
  
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    h1{
        font-weight: 800;
        font-size: 70px;
        letter-spacing: 10px;
        font-family: $Anton;
    }
    h2{
        font-size: 44px;
        letter-spacing: 10px;
        font-family: $openSans;
        // margin-bottom: 10px;
    }
}