@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

.NavBar{
    height: 7%;
    width: 100%;
    position: absolute;
    background-color: rgba(68, 146, 209, 0.7);
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ourFont;
    z-index: 1;

    span{
        margin: 25px;
    }

    span:hover{
        color: white;
    }
}

